
<p>UPLOAD?</p>
<form action="http://localhost:8080/upload" method="POST" enctype="multipart/form-data">
	<input type="file" name="post">
	<input type="submit">
</form>
<br>



<p>DEL USER?</p>
<form action="http://localhost:8080/delete-user" method="POST">
	<button type="submit">delete</button>
</form>
<br>




<p>LOGOUT?</p>
<form action="http://localhost:8080/logout" method="POST">
	<button type="submit">logout</button>
</form>
<br>

<p>VIEW PHOTOS?</p>
<form action="http://localhost:8080/view" method="POST">
	<select name="friend" id="friends">
	</select>
	<input type="submit">
</form>


<script type="text/javascript">
	let dropdown = document.getElementById("friends");
	let placeholder = document.createElement("option");
	placeholder.text = "Choose a persons photos to view";
	dropdown.add(placeholder);
	dropdown.selectedIndex=0;
	placeholder.disabled=true;


	let users=<%- JSON.stringify(users) %>;
	//users=<%=users%>;

	for (let i=0; i<users.length; i++){
		option = document.createElement('option');
		option.text = users[i].user;
		option.value = users[i].uid;
		dropdown.add(option);
	}
</script>

