<p>UPLOAD?</p>
<form action="http://localhost:8080/upload" method="POST" enctype="multipart/form-data">
	<input type="file" name="post">
	<input type="text" name="uid">
	<input type="submit">
</form>
<br>



<p>DEL USER?</p>
<form action="http://localhost:8080/delete-user" method="POST">
	uid: <input type="text" name="uid"><br>
 <button type="submit">delete</button>
</form>
<br>




<p>LOGOUT?</p>
<form action="http://localhost:8080/logout" method="POST">
 <button type="submit">logout</button>
</form>