<!--BITMOJI CODE IN ADDMARKER
	AAAAAMDLADNFJKWNDJKFGBNAKJDBGKJSFBGBDFKG
	SDFSKBDGHJBSFHJBGJSHFBGHBSFGHJBJHSDFG-->

<style>
	a[href^="http://maps.google.com/maps"]{display:none !important}
	a[href^="https://maps.google.com/maps"]{display:none !important}

	.gmnoprint a, .gmnoprint span, .gm-style-cc {
	    display:none;
	}
	.gmnoprint div {
	    background:none !important;
	}


	#usersettings, #delprompt{
		position:fixed;
		background:grey;
		border-radius:15px;
		padding:15px;
		left: 50%;
		top: 50%;
		width:200px;
		transform: translate(-50%, -50%);
		z-index:999;

	}
	#delprompt{
		background:black;
	}
</style>

<body>

<p>UPLOAD?</p>
<form action="http://localhost:8080/upload" method="POST" enctype="multipart/form-data">
	<input type="file" name="post">
	<input type="text" name="desc" maxlength="256">
	<input type="submit">
</form>
<br>


<p>MAP</p>
<p id="location"></p>
<div id="map" style="width:50%; height:50%;"></div>

<p>NEARBY:</p>
<form id="form" action="http://localhost:8080/view" method="POST">
	<select name="friend" id="friends">
	</select>
	<input type="submit">
</form>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYF6pP4axgG1Orx-vwu-AuDty-yJFBC_U&callback=initmap"></script>

<script>
	var users=<%-JSON.stringify(users)%>;
	window.uid=<%-JSON.stringify(req.session.uid)%>;
	let tool = document.getElementById("location");
	var map;


	window.addEventListener("beforeunload", function (e) {
		comLoc("left")

	});


	function initmap() {
		map = new google.maps.Map(document.getElementById("map"), {
		center: { lat: 142.1996, lng: 11.3493 },
		mapId: "e523f61bced7fe1e",
		zoom: 8,
		disableDefaultUI: true,
		});
		getLoc(map);
		map.onmousedown=function(){window.down=true;}
		map.onmouseup=function(){window.down=false;}

	}	



	//send position to server, recieve nearbys back.

	function comLoc(pos){
		let data = {
			pos: pos
		}
		let stack = {
			method: 'POST',
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			},
				body: JSON.stringify(data)
		}
		console.log("sending")
		const promise = fetch("/loc", stack);
		promise.then(response => {
			if(!response.ok){
				console.error(response)
			} else {
				return response.json();
		}
		}).then(result => {
			addmarkers(result);
		})
	}


	function addmarkers(nearby){
		let selector = document.getElementById("friends");
		let form = document.getElementById("form");
		for (marker in nearby){
			if (nearby[marker]){
				let index=marker;
				marker = new google.maps.Marker({
					position:{lat:-34,lng:150},//nearby[marker],
					//nearby[marker] works fine, its just if youre testing with mutliple tabs
					//in the same physical location, all the tabs stack on eachother
					//so I set them to a distance away for testing
					map:map,
					icon:`uploads/${index}/avatar.png`
				})	
				


				let friend = document.createElement("option")
				friend.value=index;
				//friend.name="friend";
				friend.type="option";
				friend.text=users[index].user;
				selector.add(friend);

				google.maps.event.addDomListener(marker, 'click', function() {
					
					selector.remove();

					let friend = document.createElement("input")
					friend.value=index;
					friend.name="friend";

					form.appendChild(friend);
					form.submit();
					//form.submit();
				})
			}


			//icon: `uploads/${marker}/avatar.png`

		}
	}


	function getLoc(){
		if (navigator.geolocation){

			async function update(first) {
				if (!first){
					let p = new Promise(function(resolve,reject) {
							console.log("not first")
							setTimeout(() => {
						 		resolve();
						 		navigator.geolocation.getCurrentPosition(track);

						 		
							}, 5000);
					});
					await p;
					update(false);

				} else{
					first=false;
					navigator.geolocation.getCurrentPosition(track);
				 	update(false);
				}
				//console.log("gettinghere");update(false);
			}


		update(true);
		} else{ 
			tool.textContent = "Browser does not support location feature";
		}
	}


	function posErr(err){
		switch(err.code){
			case err.PERMISSION_DENIED:
				tool.textContent="please allow Dex to view your position";
			case TIMEOUT:
				tool.textContent="connection to location server timed out";
			default:
				tool.textContent="an error occured";
		}
	}

	function track(pos){
		try{me.setMap(null);
		me=null;} catch{console.log("oh well")}
		console.log(pos)
		tool.textContent=`lat: ${pos.coords.latitude} \n lon: ${pos.coords.longitude}`;
		let localpos = {lat: pos.coords.latitude, lng: pos.coords.longitude};



		if (!window.down){
			map.setCenter(localpos);
			console.log("moved")
		}
		me = new google.maps.Marker({
			position:localpos,
			map:map,
			icon:`uploads/${window.uid}/avatar.png`
		})
		google.maps.event.addDomListener(me, 'click', function() {
					
					let form = document.getElementById("form");

					let friend = document.createElement("input")
					friend.value=uid;
					friend.name="friend";

					form.appendChild(friend);
					form.submit();
					//form.submit();
				})
		console.log("refreshed");

		comLoc(localpos);
		//adds markers



	}

	window.initmap = initmap;


	function uset(){
		document.getElementById("usersettings").style.display="block";
		//document.getElementById("set").style.display="none";
	} function unset(){
		document.getElementById("usersettings").style.display="none";
		//document.getElementById("set").style.display="block";
	}


	function delprompt(){
		document.getElementById("delprompt").style.display="block";
	} function canceldel(){
		document.getElementById("delprompt").style.display="none";
	}

</script>
<br>

<p>USER SETTINGS:</p>
<button id="set"onclick="uset()">settings</button>


<div id="usersettings" style="display:none;">

	<button id="close" style="" onclick="unset()">x</button>

	<p>EDIT AVATAR?</p>
	<form action="http://localhost:8080/avatar" method="POST">
		<button type="submit">edit</button>
	</form>
	<br>


	<p>DEL USER?</p>
	<button id="delete" onclick="delprompt()">delete user</button>
	<div id="delprompt" style="display:none;">
		<form action="http://localhost:8080/delete-user" method="POST">
			<button type="submit">delete</button>
		</form>
		<button id="cancel" onclick="canceldel()">cancel</button>
	</div>
	<br>




	<p>LOGOUT?</p>
	<form action="http://localhost:8080/logout" method="POST">
		<button type="submit">logout</button>
	</form>
	<br>

</div>

<script type="text/javascript">
	let dropdown = document.getElementById("friends");
	let placeholder = document.createElement("option");
	placeholder.text = "Choose a persons photos to view";
	dropdown.add(placeholder);
	dropdown.selectedIndex=0;
	placeholder.disabled=true;
</script>