
<script type="text/javascript">


	function showsignup(){
		
		document.getElementById("login").style.animation="fadeout .5s ease-in-out forwards";

		setTimeout( function(){
			document.getElementById("signup").style.animation="fadein .5s ease-in-out forwards";
		},500);
		
		setTimeout( function(){
			document.getElementById("login").style.display="none";
			document.getElementById("signup").style.display="block";
		},1000);

	}

	function showlogin(){
	
		document.getElementById("signup").style.animation="fadeout .5s ease-in-out forwards";

		setTimeout( function(){
			document.getElementById("login").style.animation="fadein .5s ease-in-out forwards";
		},500);

		setTimeout ( function(){
			document.getElementById("signup").style.display="none";
			document.getElementById("login").style.display="block";
		},1000);

		
	}




</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
	

<div class="header">
	
	<img style="height:75px;padding-left:20px"src="assets/display.png">

</div>

<div id="login" class="login">
<p>LOG IN</p>
<form action="http://localhost:8080/auth" method="POST">
	<label id="user">username: <input type="text" name="user"></label>
	<label id="pass">password: <input type="password" name="pass"></label>
 <button class="conflog" type="submit">↳</button>
</form>
<button class="switch" onclick="showsignup()" class="switchlog">sign up instead <sup>⇗</sup></button>
</div>



<div id="signup" class="login" style="opacity:0;display:none;">
<p>SIGN UP</p>
<form action="http://localhost:8080/signup" method="POST">
	<label>username: <input type="text" name="user"></label>
	<label>password: <input type="password" name="pass"></label>
 <button class="conflog" type="submit">↳</button>
</form>
<button class="switch" onclick="showlogin()" class="switchlog">log in instead <sup>⇗</sup></button>
</div>


<link rel="stylesheet" href="assets/style.css" type="text/css">





<script type="text/javascript">


	let errorcode = <%-JSON.stringify(er)%>;
	if (errorcode){
		document.getElementById("user").style.color="red";
	}

	else if (errorcode==false) {
		document.getElementById("pass").style.color="red";
	}

	
</script>
</body
