<p>LOG IN?</p>
<form action="http://localhost:8080/auth" method="POST">
	username: <input type="text" name="user"><br>
	password: <input type="text" name="pass"><br>
 <button type="submit">login</button>
</form>
<br>


<p>SIGN UP?</p>
<form action="http://localhost:8080/signup" method="POST">
	username: <input type="text" name="user"><br>
	password: <input type="text" name="pass"><br>
 <button type="submit">sign up</button>
</form>
<br>


